h2 {
    color: #000; /* chữ đen */
    margin-top: 70px;
    margin-bottom: 20px;
}

table.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8; /* nền be nhạt */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    table.table th, table.table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    table.table th {
        background-color: #007bff; /* màu xanh header */
        color: #fff; /* chữ trắng */
        font-weight: bold;
    }

    table.table tbody tr:nth-child(even) {
        background-color: #e0e0e0; /* màu xám nhạt xen kẽ */
    }

    table.table tbody tr:hover {
        background-color: #d0d0d0; /* hover tối hơn một chút */
    }

    table.table tfoot td {
        font-weight: bold;
        background-color: #d9d9d9; /* nền xám nhạt cho tổng tiền */
    }

p {
    font-size: 16px;
    color: #555;
}

/* ===== ICON BAY VÀO GIỎ ===== */
.fly-icon {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.65, -0.55, 0.25, 1.55);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}